.main-heading {
    font-weight: 700;
    font-size: xxx-large;
    font-family: monospace;
    text-transform: uppercase;
}

.sub-heading {
    font-family: monospace;
    text-transform: uppercase;
    font-size: xx-large;
    color: purple;
    padding: 15px;
}

.topic-family {
    margin: 60px 60px;
    padding: 10px;
    border: 1px solid green;
    justify-content: center;
}